@media screen and (max-width: 650px){
    #base {
        background: 20% 0% no-repeat;
        background-size: auto 100%;
    }
    .avatar {
        background: 50% 50% no-repeat;
        width: 2em;
        height: 2em;
        background-size: auto 2em;
        border-radius: 50%;
    }
}

@media screen and (min-width: 651px){
    #base {
      background: 0% 0% no-repeat;
      background-size: 100%;
    }
    .avatar {
        background: 50% 50% no-repeat;
        width: 4.2em;
        height: 4.2em;
        background-size: auto 4.2em;
        border-radius: 50%;
    }
    .conversation .text {
        padding-top: 1em;
    }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
h3 {
    color: rgba(15%, 15%, 15%, .4)
}
h4 {
    color: rgba(39%, 0%, 14%, .48)
}
.apply {
    padding: 16% 10% 10% 10%;
    opacity: 0.6;
}

a,
a:hover,
a:focus,
a:active {
    color: #5F1521;
}

.conversation {
    padding-top: 2em;
    color: rgba(15%, 15%, 15%, .6);
}



@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}



@media screen and (min-width: 651px){
    .modal-footer {
    background-image: url('img/mumb_bg.jpg');
    background-position: 50%;
    background-repeat: repeat-x;
    background-size: 20%;
    animation: animatedBackground 80s linear infinite;
    }

    .modal-footer a {
    background-color: #fff;
    }
}


.user-info {
    padding-top: 1em;

}

.user-info .avatar {
    background: 80% 80% no-repeat;
}