{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Автоответчик</title>
    <meta name="description" content="Веб-приложение для развеяния всякого.">

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{%  static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{%  static 'js/home.js' %}"></script>
</head>
<body style="background-image: url('{% static "img/sweetface.jpg" %}')">

        {% block content %}
        {% endblock content %}

</body>
</html>