.grid-block, .main, .post, .comments li, .comment-form {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

body {
  background: #fff;
  color: #666666; }

.navbar {
  margin-bottom: 10px; }

.navbar .navbar-inner {
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  -ms-border-radius: 0px 0px 3px 3px;
  -o-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px; }

#spinner {
  height: 300px; }

.post {
  *zoom: 1;
  position: relative;
  opacity: 1; 
  z-index: 2}
  .post:before, .post:after {
    content: "";
    display: table; }
  .post:after {
    clear: both; }
  .post.invisible {
    opacity: 0; }
  .post.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .post.animate{
    -webkit-transition: all 300ms 0ms ease-in;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }
  .post .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left; }
  .post .post-content {
    width: 100%;
    float: left; }
    .post .post-content h3 {
      margin: 0;
      line-height: 1.4;
      font-size: 18px; }
      .post .post-content h3 a {
        display: inline-block;
        margin-right: 5px; }
      .post .post-content h3 span {
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
        color: #aaaaaa; }
    .post .post-content p {
      margin: 0; }
  .post .discuss {
    display: block;
    float: right;
    margin-top: 7px; }

.comments {
  list-style-type: none;
  margin: 0; 
}

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; }

.load-more {
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }
  .load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1); }

.posts {
  padding-top: 2em;
}

.posts .spinner-container{
  position: relative;
  height: 100px;
}

.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}

/*------------------------------------------------------------------*/
.post .text-field {
  padding-top: 0.7em;
  padding-bottom: 0.4em;
  display: block;
  overflow: hidden; 
  width: inherit;
  min-height: 8em; 
  text-align: justify;
  text-overflow: ellipsis; 
}
.footer,
.footer a,
a {
  color: #bbb;
}
.footer a:hover,
a:hover {
  color: #5C5585;
  text-decoration: none;
}

.lang-warning {
  font-size: 12px;
  line-height:20px; 
  width: 100%;
  position: fixed;
  z-index: 42;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFCA73;
}
.lang-warning .switch_lang {
  font-weight: bold; 
}
.lang-warning .switch_lang:hover {
  color: #497B70; /*мятный-темный*/
  cursor: pointer;
}

.my-star {
  display: inline-block;
}
.my-star .current-rating {
  color: #FFCA73; /*оранжевый (основа)*/
}
.my-star .active {
  color: #92D2C4; /*мятный-светлый*/
}

.rating-field {
  display: block;
  font-size: 1.4em;
  line-height: 1.5em;
  color: #bbb;
}

.buttons-field {
  display: inline;
}

.post-author-name,
.post-submitted-time,
.post-share {
  font-size: 1.4em;
  display: inline-block;
  color: #bbb;
  text-transform: uppercase; 
}

.comment-author-name,
.comment-submitted-time {
  font-size: 1.2em;
  display: inline-block;
  color: #bbb;
  text-transform: uppercase;
}

.btn-primary{
  color: #fff;
  background-color: #497B70;
  border-color: #186B58;
}
.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
  background-color: #38685D;
  border-color: #405C56;
  box-shadow: 0 0 5px #5C5585;
  border: 1px solid #5C5585;
}
.btn-warning{
  color: #fff;
  background-color: #5C5585;
  border-color: #685CB1;
}
.btn-warning:hover,
.btn-warning:focus {
  color: #fff;
  background-color: #5C5585;
  border-color: #685CB1;
  box-shadow: 0 0 5px #5C5585;
  border: 1px solid #5C5585;
}

.btn-danger{
  color: #fff;
  background-color: #875E64;
  border-color: #76474E;
}
.btn-danger:hover,
.btn-danger:focus {
  color: #fff;
  background-color: #752330;
  border-color: #5F1521;
  box-shadow: 0 0 5px #5C5585;
  border: 1px solid #5C5585;
}

input[type=text], 
textarea {
  background-color: #fff;
}
input[type=text]:focus, 
textarea:focus,
textarea .focus {
  box-shadow: 0 0 5px #5C5585 !important;
  border: 1px solid #5C5585 !important;
}

.alert-danger,
.alert-error,
.alert-close {
  color: rgba(50, 37, 39, 1);
  background-color: rgba(195, 162, 167, 0.4);
  border: 1px solid rgba(195, 151, 157, 0.4);
}

.post-page-log-in-warning{
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.4em;
  font-style: italic;
  color: #bbb;
}

.btn-Facebook {
  color: #fff;
  background-color: #3b5998;
}

.btn-Facebook:hover {
  color: #fff;
  background-color: #2E4C8B;
  box-shadow: 0 0 5px #5C5585 !important;
  border: 1px solid #5C5585 !important;
}

#iron-router-progress {
  background-color: #fff;
  box-shadow: 0 0 5px #5C5585;
}

.go-back{
  left: 1em;
  padding-top: 50px;
  position: fixed;
  z-index: 42;
  cursor: pointer;
}

a,
a:active,
a:hover:
a:visited,
a:link {
  text-decoration: none;
}